.todo-list {
  grid-area: todo-list;
  background: var(--clr-light);
  color: var(--clr-dark);

  /* Local variable */
  --spacer: 2rem;
}

/* --------------------------------------TODO list header------------------------------------------------------------ */
.todo-list--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e4e4;
  padding: var(--spacer);
}

.todo-list--title {
  margin: 0;
}

.todo-item-count {
  font-size: 1rem;
  margin: 0 0 0 1em;
}

.todo-list--body {
  padding: var(--spacer);
}

.todo--new-item {
  --btn-clr: var(--clr-primary);
  font-size: 1.4rem;
}
