.todo-list {
  grid-area: todo-list;
  background: var(--clr-light);
  color: var(--clr-dark);
  position: relative;

  /* Local variable */
  --spacer: 2rem;
}

/* --------------------------------------TODO list header------------------------------------------------------------ */
.todo-list--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e4e4e4;
  padding: var(--spacer);
}

.todo-list--title {
  text-transform: capitalize;
  margin: 0;
}

.todo-item-count {
  font-size: 1rem;
  margin: 0 0 0 1em;
}

.todo-list--body {
  padding: var(--spacer);
}

.todo--new-item {
  --btn-clr: var(--clr-primary);
  font-size: 1.4rem;
}

/* --------------------------------------TODO list footer------------------------------------------------------------ */
.todo-list--footer {
  position: absolute;
  bottom: -1.5em;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
}

.todo-list--footer .delete {
  font-size: 1rem;
  color: var(--clr-light);
  opacity: 0.7;
  cursor: pointer;

  transition: color 0.2s ease-in;
}

.todo-list--footer .delete:hover {
  color: var(--clr-warning);
}
