:root {
  --clr-primary: rgb(54, 112, 199);
  --clr-light: #f4f4f4;
  --clr-dark: #333;
  --clr-warning: rgb(99, 36, 36);
}

/* reset */
*,
*::before,
*::after {
  font-family: inherit;
  box-sizing: border-box;
}

button[class] {
  border: none;
  background: transparent;
}

body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  color: var(--clr-light);
}
.container {
  display: grid;
  grid:
    "header header header header" auto
    "...... tasks-list  todo-list ......" auto/
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
}
.title {
  grid-area: header;
  text-align: center;
  font-size: calc(7vw + 2rem);
  color: rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: -0.3em 0 0.5em;
  letter-spacing: 3px;
}

/* Error */
.error {
  display: inline-block;
  margin: 0.75em 0 0 1.5rem;
  padding: 0.25em 0.75em;
  border-radius: 15px;
  font-size: 1rem;
  color: #fff;
  background-color: red;
  transform-origin: right;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.error:hover {
  opacity: 0.9;
}
